<div class="secondSection" id="skills">
    <div class="secondSectionContent">
        <h1 id="trans5">Technologies</h1>
        <div class="skillSection">
            <div class="box_1" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>HTML/CSS</span>
            </div>
            <div class="innerBox_1" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_html.png" alt="html logo">
            </div>

            <div class="box_2" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Javascript</span>
            </div>
            <div class="innerBox_2" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_js.png" alt="js logo">
            </div>

            <div class="box_3" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Angular</span>
            </div>
            <div class="innerBox_3" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_angular.png" alt="angular logo">
            </div>

            <div class="box_4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Git</span>
            </div>
            <div class="innerBox_4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_git.png" alt="git logo">
            </div>

            <div class="box_5" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Firebase</span>
            </div>
            <div class="innerBox_5" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_firebase.png" alt="firebase logo">
            </div>

            <div class="box_6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>SCSS/SASS</span>
            </div>
            <div class="innerBox_6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_sass.png" alt="sass logo">
            </div>

            <div class="box_7" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Typescript</span>
            </div>
            <div class="innerBox_7" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_typescript.png" alt="typescript logo">
            </div>

            <div class="box_8" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>SCRUM</span>
            </div>
            <div class="innerBox_8" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_scrum.png" alt="scrum logo">
            </div>

            <div class="box_9" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <span>Rest Api</span>
            </div>
            <div class="innerBox_9" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="assets/img/box_api.png" alt="api logo">
            </div>
        </div>
    </div>