<div class="secondSection" id="skills">
    <div class="secondSectionContent">

        <div class="secondSectionContentLeft">
            <div class="skillsIconSection1">
                <div data-aos="fade-right" data-aos-easing="ease-in-sine" >
                    <img src="assets/img/skillslogo1.png" alt="">
                    <span>
                        JavaScript
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo2.png" alt="">
                    <span>
                        Angular
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo3.png" alt="">
                    <span>
                        TypeScript
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-easing="ease-in-sine" >
                    <img src="assets/img/skillslogo4.png" alt="">
                    <span>
                        HTML
                    </span>
                </div>
            </div>
            <div class="skillsIconSection2">
                <div data-aos="fade-right" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo5.png" alt="">
                    <span>
                        GIT
                    </span>
                </div>
                <div data-aos="fade-right" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo6.png" alt="">
                    <span>
                        Firebase
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo7.png" alt="">
                    <span>
                        CSS
                    </span>
                </div>
            </div>
            <div class="skillsIconSection3">
                <div data-aos="fade-right" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo8.png" alt="">
                    <span>
                        Scrum
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo9.png" alt="">
                    <span>
                        Rest-Api
                    </span>
                </div>
            </div>
            <div class="skillsIconSection4">
                <div data-aos="fade-up" data-aos-easing="ease-in-sine">
                    <img src="assets/img/skillslogo10.png" alt="">
                    <span>
                        Material Design
                    </span>
                </div>
            </div>
        </div>
        <div class="secondSectionContentRight">
            <div class="borderLinkContainer">
                <div class="borderLinkContainerBorder" data-aos-easing="ease-in-sine"></div>
                <div class="borderLinkContainerTitle" data-aos="fade-left" data-aos-easing="ease-in-sine">Skills</div>
            </div>
            <div class="textAndBtnContainer" data-aos="fade-left" data-aos-easing="ease-in-sine">
                <span id="trans11">I have gained experience in building projects with various frontend technologies and
                    concepts.</span>
                <a href="#contact">
                    <button>
                        <span id="trans12">
                            Get in touch
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>