.secondSection {
    height: 1200px;
    background-color: #131111;
    color: white;
    display: flex;
    justify-content: center;
}

.secondSectionContent {
    max-width: 800px;
    width: 100vw;
}
