<div class="secondSection" id="skills">
    <div class="secondSectionContent">

        <div class="secondSectionContentLeft">
            <div class="skillsIconSection1">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo1.png" alt="">
                    <span>
                        JavaScript
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo2.png" alt="">
                    <span>
                        Angular
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo3.png" alt="">
                    <span>
                        TypeScript
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo4.png" alt="">
                    <span>
                        HTML
                    </span>
                </div>
            </div>
            <div class="skillsIconSection2">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo5.png" alt="">
                    <span>
                        GIT
                    </span>
                </div>
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo6.png" alt="">
                    <span>
                        Firebase
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo7.png" alt="">
                    <span>
                        CSS
                    </span>
                </div>
            </div>
            <div class="skillsIconSection3">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo8.png" alt="">
                    <span>
                        Scrum
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo9.png" alt="">
                    <span>
                        Rest-Api
                    </span>
                </div>
            </div>
            <div class="skillsIconSection4">
                <div data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                    <img src="assets/img/skillslogo10.png" alt="">
                    <span>
                        Material Design
                    </span>
                </div>
            </div>
        </div>
        <div class="secondSectionContentRight">
            <div class="borderLinkContainer">
                <div class="borderLinkContainerBorder" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700"></div>
                <div class="borderLinkContainerTitle" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">Skills</div>
            </div>
            <div class="textAndBtnContainer" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="700">
                <span id="trans11">I have gained experience in building projects with various frontend technologies and
                    concepts.</span>
                <a href="#contact">
                    <button>
                        <span id="trans12">
                            Get in touch
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>





    <div class="BackgroundContainer">
        <!-- <div class="blurFive"> <img src="assets/img/blur5.png"></div> -->
    </div>

    <!-- <h1 id="trans5">Technologies</h1>
        <div class="skillSection">
            <div class="box_1 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">HTML/CSS</span>
            </div>
            <div class="innerBox_1 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_html.png" alt="html logo">
            </div>

            <div class="box_2 clickNavbarIgnore" data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Javascript</span>
            </div>
            <div class="innerBox_2 clickNavbarIgnore" data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_js.png" alt="js logo">
            </div>

            <div class="box_3 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Angular</span>
            </div>
            <div class="innerBox_3 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_angular.png" alt="angular logo">
            </div>

            <div class="box_4 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Git</span>
            </div>
            <div class="innerBox_4 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_git.png" alt="git logo">
            </div>

            <div class="box_5 clickNavbarIgnore" data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Firebase</span>
            </div>
            <div class="innerBox_5 clickNavbarIgnore" data-aos="fade-down" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_firebase.png" alt="firebase logo">
            </div>

            <div class="box_6 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">SCSS/SASS</span>
            </div>
            <div class="innerBox_6 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_sass.png" alt="sass logo">
            </div>

            <div class="box_7 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Typescript</span>
            </div>
            <div class="innerBox_7 clickNavbarIgnore" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_typescript.png" alt="typescript logo">
            </div>

            <div class="box_8 clickNavbarIgnore" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">SCRUM</span>
            </div>
            <div class="innerBox_8 clickNavbarIgnore" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_scrum.png" alt="scrum logo">
            </div>

            <div class="box_9 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <span class="clickNavbarIgnore">Rest Api</span>
            </div>
            <div class="innerBox_9 clickNavbarIgnore" data-aos="fade-left" data-aos-offset="100" data-aos-easing="ease-in-sine">
                <img class="clickNavbarIgnore" src="assets/img/box_api.png" alt="api logo">
            </div> -->
</div>