.secondSection {
    height: 940px;
    background: linear-gradient(to bottom, hsla(346, 95%, 57%, 0.15) 0%, hsla(170, 97%, 58%, 0.25) 100%),
    linear-gradient(to bottom, #cfcfcf 0%, #cfcfcf 100%);
    color: white;
    display: flex;
    justify-content: center;
    @media (max-width: 1060px) {
        height: 515px;
    }
}

.secondSectionContent {
    max-width: 1100px;
    width: 100vw;
    @media (max-width: 1060px) {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    
    h1 {
        cursor: default;
    }
}

h1 {
    text-align: center;
}

.skillSection {
    display: flex;
    flex-wrap: wrap;
    padding-left: 75px;
    @media (max-width: 1060px) {
        justify-content: center;
        align-items: center;
        width: 380px;
        padding-left: 0px;
    }
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6,
.box_7,
.box_8,
.box_9 {
    background-color: white;
    width: 278px;
    height: 180px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: rotate(0deg);
    transition: transform 999ms ease-in-out;
    transition: 225ms ease-in-out;
    cursor: grab;
    @media (max-width: 1060px) {
        width: 70px;
        height: 60px;
        top: 10px;
        left: 30px;
        align-items: flex-end;
        span {
            font-size: 11px;
            font-weight: bold;
        }
    }
    &:hover {
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.45);
        transition: 225ms ease-in-out;
    }
    &:hover:active {
        transform: rotate(4deg);
        transition: transform 225ms ease-in-out;
    }
}

.innerBox_1,
.innerBox_2,
.innerBox_3,
.innerBox_4,
.innerBox_5,
.innerBox_6,
.innerBox_7,
.innerBox_8,
.innerBox_9 {
    background-color: white;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 4px 2px black;
    border-radius: 100%;
    position: relative;
    top: 30px;
    left: -170px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1060px) {
        width: 50px;
        height: 50px;
        left: -30px;
        top: 5px;
        margin-top: 0px;
    }

    img {
        width: 38px;
        height: auto;

        @media (max-width: 1060px) {
            width: 30px;
        }
    }
}
