<div class="fourthSection" id="about">
    <div class="fourthSectionContent">
        <div class="fourthSectionContentLeft" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
            data-aos-duration="700">
            <div id="trans7" class="aboutmeText1">About me</div>
            <div id="trans8" class="aboutmeText2">
                Hi, I am a Frontend developer based in Cologne, Germany. After school, I completed an apprenticeship in
                IT and gained a total of around 8 years of professional experience. To turn my passion into a
                profession, I completed the intensive course at the Developer Academy in August 2022.
            </div>
            <div class="aboutmeText3">
                <div>
                    <img src="assets/img/texticon1.png" alt="">
                </div>
                <span id="trans9">
                    When I was at school, I made my first experience and was already very interested in software and
                    hardware of different kinds of electronics.
                </span>
            </div>
            <div class="aboutmeText4">
                <div>
                    <img src="assets/img/texticon2.png" alt="">
                </div>
                <span id="trans10">
                    At the age of 15, I programmed my first homepage which
                    was
                    built like a social media profile about myself based on HTML/CSS.
                </span>
            </div>
        </div>
        <div class="fourthSectionContentRight" data-aos="fade-left" data-aos-offset="10" data-aos-easing="ease-in-sine"
            data-aos-duration="700">
            <img src="assets/img/selfpicture1-removebg.png" alt="selfpicture1">

        </div>
        <div class="BackgroundContainer">
            <div class="blurThree"> <img src="assets/img/blur3.png"></div>
            <div class="blurTwo"> <img src="assets/img/blur2.png"></div>
        </div>
        <div class="aboutMeBottomLine">
            <img src="assets/img/aboutmebottomline.png" alt="">
        </div>
    </div>

    <!-- <h1 id="about">About me</h1>
    <div class="fourthSectionContent">
        <div class="aboutIntro" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/selfpicture2.jpg" alt="selfpicture">
            <span id="trans17">
                <em>
                    " Real generosity toward the future lies in giving all to the present. "
                </em>
            </span><br><br> Albert Camus, 1913 - 1960
        </div>
    </div>

    <div class="aboutDescrip">
        <div class="aboutDescripContent" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/about_1.png" alt="logo about">
            <h3 id="trans18">My Journey Began</h3>
            <em>
                <span id="trans19">" When I was at school, I made my first experience and was already very interested in
                    software and
                    hardware of different kinds of electronics. "
                </span>
            </em>
        </div>

        <div class="aboutDescripContent" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/about_2.png" alt="logo about 2">
            <h3 id="trans20">First Contact</h3>
            <em>
                <span id="trans21">" At the age of 15, I programmed my first homepage which was built like a social
                    media
                    profile about
                    myself based on HTML/CSS. "
                </span>
            </em>
        </div>

        <div class="aboutDescripContent" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/about_3.png" alt="logo about 3">
            <h3 id="trans22">IT Experience</h3>
            <em>
                <span id="trans23">" After school, I completed an apprenticeship in IT and gained a total of around 8
                    years of
                    professional experience. "
                </span>
            </em>
        </div>

        <div class="aboutDescripContent" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="assets/img/about_4.png" alt="lobo about 4">
            <h3 id="trans24">Software Engineer</h3>
            <em>
                <span id="trans25">" To turn my passion into a profession, I completed the intensive course at the
                    Developer Academy in
                    August 2022. "
                </span>
            </em>
        </div>
    </div> -->

</div>