.fourthSection {
    height: 930px;
    background: linear-gradient(to bottom, #fa275813 0%, #2dfcd913 100%),
        linear-gradient(to bottom, #8f8f8f 0%, #8f8f8f 100%);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1110px) {
        height: 1720px;
    }
}

.fourthSectionContent {
    max-width: 1100px;
    width: 100vw;
    @media (max-width: 1110px) {
        width: 100%;
        overflow: hidden;
    }
}

.aboutIntro {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #2dfcd8;
    padding: 100px;

    @media (max-width: 1110px) {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    h1 {
        cursor: default;
    }

    span {
        cursor: default;
    }

    img {
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin-right: 100px;
        object-fit: cover;
        flex: none;

        @media (max-width: 1110px) {
            margin-right: 0px;
            margin-bottom: 50px;
            width: 180px;
            height: 180px;
        }
    }
}

.aboutDescrip {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    position: relative;
    @media (max-width: 1110px) {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}

.aboutDescripContent {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    width: 220px;

    img {
        padding: 20px;
        width: 20px;
        background-color: #2dfcd8;
        border-radius: 100%;
    }

    h3 {
        cursor: default;
    }
    span {
        font-size: 18px;
        cursor: default;
    }
}

#about {
    position: absolute;
    left: 45%;
    color: white;
    padding-top: 30px;
    top: 2775px;
    @media (max-width: 1110px) {
        top: 3145px;
        left: 0;
        width: 100%;
        text-align: center;
        height: 23px;
        padding-top: 20px;
    }
}

.sliderText {
    height: 30%;
    position: absolute;
    transition: transform 1ms ease-in-out;
    text-align: center;
    width: 54%;
    z-index: 5;
    @media (max-width: 1110px) {
        position: unset;
    }
}

.slider-container {
    width: 100%;
    height: 100%;
    position: none;
    overflow: hidden;
    z-index: 5;
}
