<div class="fourthSection" id="about">
    <div class="fourthSectionContent">

        <div class="aboutIntro">
            <img src="assets/img/selfpicture.jpg">
            <div>
                <h1>About me</h1>
                <span> <em>
                    " I am a passioned Frontend Developer with a background as a 
                    information electronics technician who loves pushing boundaries and learning new exciting things. "
                </em></span>
            </div>
        </div>


        <div class="aboutDescrip">

            <div class="aboutDescripContent">
                <img src="assets/img/about_1.png">
                <h3>My Journey Began</h3>
                <span>When I was at school, I made my first experiences and was already very interested in software and hardware of differnt kinds of electronics.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_2.png">
                <h3>First Contact</h3>
                <span>At the age of 15 I programmed my first homepage which was built like a social media profile about myself with an Html/Css platform.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_3.png">
                <h3>IT Experience</h3>
                <span>After school, I successfully completed an apprenticeship in IT and gained a total of around 8 years of professional experience.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_4.png">
                <h3>Software Engineer</h3>
                <span>In order to turn my passion into a profession, I completed the intensive course at the Developer Academy in August 2022.</span>
            </div>
        </div>


    </div>
</div>