.fourthSection {
    height: 930px;
    background: linear-gradient(to bottom, hsla(346, 95%, 57%, 0.15) 0%, hsla(170, 97%, 58%, 0.25) 100%),
    linear-gradient(to bottom, #8b8b8b 0%, #8b8b8b 100%);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1110px) {
        height: 1960px;
    }
}

.fourthSectionContent {
    max-width: 1100px;
    width: 100vw;
    @media (max-width: 1110px) {
        width: 100%;
        overflow: hidden;
    }
}

.aboutIntro {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #2dfcd8;
    padding: 100px;
    cursor: default;
    @media (max-width: 1110px) {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    h1 {
        cursor: default;
    }

    span {
        font-size: 18px;
        cursor: default;
    }

    img {
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin-right: 100px;
        object-fit: cover;
        flex: none;
        @media (max-width: 1110px) {
            margin-right: 0px;
            margin-top: 10px;
            margin-bottom: 36px;
            width: 280px;
            height: 280px;
        }
    }
}

.aboutDescrip {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    position: relative;
    @media (max-width: 1110px) {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}

.aboutDescripContent {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
    width: 220px;

    img {
        padding: 20px;
        width: 20px;
        background-color: #2dfcd8;
        border-radius: 100%;
    }

    h3 {
        cursor: default;
    }
    
    span {
        font-size: 18px;
        cursor: default;
    }
}

#about {
    color: white;
    padding-top: 30px;
    top: 2775px;
    cursor: default;
    @media (max-width: 1110px) {
        width: 100%;
        text-align: center;
        margin-top: -20px;
    }
}

h1 {
    @media (max-width: 1110px) {
        font-size: -webkit-xxx-large;
    }
}