<div class="fourthSection">
    <div class="fourthSectionContent">

        <div class="aboutIntro">
            <img src="assets/img/selfpicture.jpg">
            <div>
                <h1>About me</h1>
                <span>
                    " I'm an outdoor sports enthusiast (Kayaking forever) and front end developer who loves pushing boundaries "
                </span>
            </div>
        </div>


        <div class="aboutDescrip">

            <div class="aboutDescripContent">
                <img src="assets/img/about_1.png">
                <h3>My Journey Began</h3>
                <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_2.png">
                <h3>My Journey Began</h3>
                <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_3.png">
                <h3>My Journey Began</h3>
                <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
            </div>

            <div class="aboutDescripContent">
                <img src="assets/img/about_4.png">
                <h3>My Journey Began</h3>
                <span>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple IT and digitalization projects.</span>
            </div>
        </div>


    </div>
</div>