footer {
    height: 200px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.footerContent {
    max-width: 1300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 40px;
        margin-left: 80px;
    }
}

.footerLink {
    text-decoration: none;
    color: #8491A0;
    cursor: pointer;

    &:hover {
        filter: brightness(1.3);
    }
}

.d-none {
    display: none;
}

.footerPos {
    display: flex;
    color: #8491A0;
    cursor: default;
}



#policy, #imprint {
    position: absolute;
    bottom: -3762px;
    color: white;
    background-color: #131111;
    height: 890px;
    width: 60%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #2dfcd8;
    text-align: center;

    a {
        text-decoration: none;
        color: rgba(152, 154, 255, 0.712);

        &:hover {
            text-decoration: underline;
        }
    }

    #policy {
        text-align: start !important;
    }

    button {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        font-weight: bold;
        font-size: 26px;
        color: #2dfcd8;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}