<footer>
    <div class="footerContent">
        <div class="footerPos">
            <div class="footerLink" (click)="openImprint()">Imprint</div>&nbsp;-&nbsp;
            <div class="footerLink" (click)="openPolicy()">Legal Notice</div>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/yener-bas/" target="_blank"><img src="assets/img/footer_1.png"></a>
            <a href="https://github.com/Yener88" target="_blank"><img src="assets/img/footer_2.png"></a>
            <a href="https://www.xing.com/profile/Yener_Bas/cv" target="_blank"><img src="assets/img/footer_3.png"></a>
            
        </div>
    </div>
    <div id="imprint" class="d-none">
        <button (click)="closeImprint()">x</button>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
        Hier steht bald das Impressum <br>
    </div>
    <div id="policy" class="d-none">
        <button (click)="closePolicy()">x</button>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>
        Hier steht bald die Policy <br>

        
    </div>
</footer>