footer {
    height: 200px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}

.footerContent {
    max-width: 1300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 40px;
        margin-left: 80px;
    }
    span {
        color: #8491A0;
    }
}