<div id="transBtnPosition1">
    <div id="transBtnPosition2">
        <img id="transEn" (click)="clickLanguageEN()" src="assets/img/england.png" alt="">
        <img id="transDe" (click)="clickLanguageDE()" src="assets/img/germany.png" alt="">
        <img id="transTr" (click)="clickLanguageTR()" src="assets/img/turkey.png" alt="">
    </div>
</div>
<app-first-section-header></app-first-section-header>
<app-second-section-skills></app-second-section-skills>
<app-third-section-projects></app-third-section-projects>
<app-fourth-section-about></app-fourth-section-about>
<app-fifth-section-contact></app-fifth-section-contact>
<app-sixth-section-footer></app-sixth-section-footer>