<header id="home">
    <div class="headerContent">
        <div class="navbar">
            <div>
                <a href="#home">
                    <img src="assets/img/logowhite.png" id="clickLogoStyle" alt="">
                </a>
            </div>
            <div class="navbarLinks hideMobile">
                <a id="trans2" href="#projects">PROJECTS</a>
                <a id="trans1" href="#about">ABOUT</a>
                <a id="trans3" href="#contact">CONTACT</a>
            </div>
            <div class="mobileNavbar hideDesktop">
                <img (click)="mobileNavbar()" src="assets/img/mobilemenu.png">
            </div>
            <div id="mobileNavbarContent" class="d-none hideDesktop">
                <span (click)="closeMobileNavbar()" class="closeMobileBtn">X</span>
                <a id="trans2" (click)="openProjects()" href="#projects">PROJECTS</a>
                <a id="trans1" (click)="openAbout()" href="#about">ABOUT</a>
                <a id="trans3" (click)="openContact()" href="#contact">CONTACT</a>
            </div>
        </div>
        <div class="intro" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="introLeft">
                <h1 id="trans4">
                    Hi, <br>
                    I'm <span class="introStyle1">Yener</span> Bas <br>
                    frontend develop<span class="introStyle2">e</span>r
                </h1>
            </div>
            <div class="introRight">
                <img src="assets/img/selfpicture1.jpg" alt="Yener Bas">
            </div>
        </div>
        <div id="pngUnderline"></div>
    </div>
    <div>
        <a href="#skills" class="introScroll">
            <img src="assets/img/introbtn.png">
        </a>
    </div>
</header>