<header id="home">
    <div class="headerContent">
        <div class="navbar">
            <img src="assets/img/logowhite.png">
            <div class="navbarLinks hideMobile">
                <a href="#">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#projects">PROJECTS</a>
            </div>
            <div class="mobileNavbar hideDesktop">
                <img (click)="mobileNavbar()" src="assets/img/mobilemenu.png">
            </div>
            <div id="mobileNavbarContent" class="d-none hideDesktop">
                <span (click)="closeMobileNavbar()" class="closeMobileBtn">X</span>
                <a (click)="openHome()" href="#home">HOME</a>
                <a (click)="openAbout()" href="#about">ABOUT</a>
                <a (click)="openProjects()" href="#projects">PROJECTS</a>
            </div>
        </div>

        <div class="intro">
            <div class="introLeft">
                <h1>Hi, <br>
                    I'm <span class="IntroStyle1">Yener</span> Bas <br>
                    Front End develop<span class="IntroStyle2">e</span>r
                </h1>
                <a class="introBtn" href="#contact">Contact Me</a>
            </div>
            <div class="introRight">
                <img src="assets/img/selfpicture1.jpg" alt="Yener Bas">
            </div>
        </div>
    </div>
    <div>
        <a href="#skills" class="introScroll">
            <img src="assets/img/introbtn.png">
        </a>
    </div>
</header>