<header id="home">
    <div class="navbar">
        <div>
            <a href="#home">
                <img src="assets/img/logowhite.png" class="imgClickBlock" id="clickLogoStyle" alt="own made Logo">
            </a>
        </div>
        <div class="navbarLinks hideMobile">
            <a id="trans2" href="#projects">PROJECTS</a>
            <a id="trans1" href="#about">ABOUT</a>
            <a id="trans3" href="#contact">CONTACT</a>
        </div>
        <div class="mobileNavbar hideDesktop">
            <img (click)="mobileNavbar()" src="assets/img/mobilemenu.png" alt="mobile navbar menü">
        </div>
        <div id="mobileNavbarContent" class="d-none hideDesktop">
            <span (click)="closeMobileNavbar()" class="closeMobileBtn">X</span>
            <a id="trans2" (click)="openProjects()" href="#projects">PROJECTS</a>
            <a id="trans1" (click)="openAbout()" href="#about">ABOUT</a>
            <a id="trans3" (click)="openContact()" href="#contact">CONTACT</a>
        </div>
    </div>
    <div class="headerContent">
        <div class="intro">
            <div class="introLeft" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="1500">
                <h1 id="trans4">
                    Hi, <br>
                    I'm <span class="introStyle1">Yener</span> Bas <br>
                    frontend develop<span class="introStyle2">e</span>r
                </h1>
            </div>
            <div class="introRight" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                data-aos-duration="1500">
                <img src="assets/img/selfpicture1.jpg" alt="Self Picture">
            </div>
        </div>
        <div id="pngUnderline" class="hideMobile"></div>
    </div>
    <div>
        <a href="#skills" class="introScroll">
            <img src="assets/img/introbtn.png" alt="intro button">
        </a>
    </div>
</header>