/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: "Poppins";
    font-style: normal;
    overflow-x: hidden;
    @media (max-width: 1130px) {
        overflow-y: auto;
    }
}

.site-wrapper {
    @media (max-width: 1130px) {
        overflow-x: hidden;
        position: relative;
        overflow-y: hidden;
    }
}

html {
    scroll-behavior: smooth;
    transition: 225ms ease-in-out;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #141d2f;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3c5791;
}

::-webkit-scrollbar-thumb:active {
    background: #3c5791;
}

::placeholder {
    color: white;
}
