/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    font-family: 'Inter';
    scroll-behavior: smooth;
    transition: 225ms ease-in-out;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #14352f;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2dfcd8;
}

::-webkit-scrollbar-thumb:active {
    background: #a3fff0;
}