<div class="thirdSection" id="projects">
    <div class="thirdSectionContent">
        <h1 id="trans6">Projects</h1>
        <div class="workApps">
            <div data-aos="zoom-out-left" class="mobileMode">
                <div class="workAppsTitle1">Pokedex-App</div>
                <div class="workAppsTitleJS1">JavaScript</div>
                <a href="https://yener88.github.io/Pokedex/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle borderJavaScript" src="assets/img/app_pokedex.jpg">
                </a>
                <div class="workAppsTitle2">El Pollo Loco</div>
                <div class="workAppsTitleJS3">JavaScript</div>
                <a href="https://yener88.github.io/el-pollo-loco/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle borderJavaScript" src="assets/img/app_polloloco.jpg">
                </a>
                <a class="ApkDownloadButton"
                    href="https://yener-bas.developerakademie.net/ElPolloLocoAPK/El%20Pollo%20Loco.apk" target="_blank"
                    id="trans7">Download the Mobile Version(APK)</a>
            </div>
            <div data-aos="zoom-out-right" class="mobileMode">
                <div class="workAppsTitle3">Kanban-board</div>
                <div class="workAppsTitleJS2">JavaScript</div>
                <a href="https://yener88.github.io/Team-Table/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle borderJavaScript" src="assets/img/app_teamtable.jpg">
                </a>
                <div class="workAppsTitle4">Ring of Fire</div>
                <div class="workAppsTitleAng1">Angular</div>
                <a href="https://ring-of-fire-5819b.web.app/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle borderAngular" src="assets/img/app_ringoffire.jpg">
                </a>
            </div>
        </div>
    </div>
</div>