<div class="thirdSection" id="projects">
    <div class="thirdSectionContent">
        <div class="thirdSectionContentTitleContainer">
            <div class="borderLinkContainer" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                data-aos-duration="1500">
                <div class="borderLinkContainerBorder"></div>
                <div class="thirdSectionContentTitle">
                    <span id="trans23">
                        Portfolio
                    </span>
                </div>
                <div class="thirdSectionContentTitleDescrip">
                    <span id="trans13">
                        This page is a sample of my work! Please fell free to try them out.
                    </span>
                </div>
            </div>
        </div>
        <div class="workApps">
            <div data-aos="zoom-out-left" class="mobileMode">
                <div class="hoverTextPosition1">
                    <div class="workAppsHoverBtnContainer">
                        <a class="workAppsHoverBtn1" href="https://github.com/Yener88/Pokedex" target="_blank">
                            <button>
                                Github
                            </button>
                        </a>
                        <a class="workAppsHoverBtn2" href="https://yener88.github.io/Pokedex/" target="_blank">
                            <button>
                                <span id="trans19">
                                    Live test
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="workAppsHoverTextContainer">
                        <div>
                            Pokedex-App
                        </div>
                        <div data-aos="fade-right" data-aos-duration="1500" id="workAppsDescrip"><br>
                            <span id="trans14">
                                Index of Pokemon, API based Pokedex! With extensive details and advanced functions such
                                as finding, favorite and managing all Pokemon in the search.
                            </span>
                        </div>
                        <div data-aos="fade-right" data-aos-duration="1500" class="workAppsSkills">
                            HTML | CSS |
                            JavaScript
                            | API
                        </div>
                    </div>
                </div>
                <a class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_pokedex.jpg" alt="app_pokedex projekt bild"
                        data-aos="flip-up" data-aos-duration="1500" alt="Pokedex Cover Ownmade">
                </a>
                <div class="hoverTextPosition2">
                    <div class="workAppsHoverBtnContainer">
                        <a href="https://github.com/Yener88/El-Pollo-Loco" target="_blank" class="workAppsHoverBtn1">
                            <button>
                                Github
                            </button>
                        </a>
                        <a href="https://yener88.github.io/El-Pollo-Loco/" target="_blank" class="workAppsHoverBtn2">
                            <button>
                                <span id="trans20">
                                    Live test
                                </span>
                            </button>
                        </a>
                        <a data-aos="fade-left" data-aos-duration="1500" class="apkDownloadButton"
                            href="https://yener-bas.developerakademie.net/ElPolloLocoAPK/El%20Pollo%20Loco.apk"
                            target="_blank">
                            Mobile .apk
                            <img class="downloadbtn" src="assets/img/downloadbtn.png" alt="download icon">
                        </a>
                    </div>
                    <div class="workAppsHoverTextContainer">
                        <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitle">
                            El Pollo Loco
                        </div>
                        <div data-aos="fade-left" data-aos-duration="1500" id="workAppsDescrip"><br>
                            <span id="trans16">
                                El Pollo Loco is a humorous jump-and-run game created using object-oriented JavaScript
                                and serving as an introduction to Angular development.
                            </span>
                        </div>
                        <div data-aos="fade-left" data-aos-duration="1500" class="workAppsSkills">
                            HTML | CSS | OOP
                            JavaScript
                        </div>
                    </div>
                </div>
                <a class="workAppStyleAhref">
                    <img class="workAppsStyle marginExtra" src="assets/img/app_polloloco.jpg" data-aos="flip-down"
                        data-aos-duration="1500" alt="El Pollo Loco Cover Ownmade">
                </a>
            </div>
            <div data-aos="zoom-out-left" class="mobileMode">
                <div class="hoverTextPosition3">
                    <div class="workAppsHoverBtnContainer">
                        <a href="https://github.com/Yener88/kanban-angular" target="_blank" class="workAppsHoverBtn1">
                            <button>
                                Github
                            </button>
                        </a>
                        <a class="workAppsHoverBtn2" href="https://yener88.github.io/Team-Table/" target="_blank">
                            <button>
                                <span id="trans21">
                                    Live test
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="workAppsHoverTextContainer">
                        <div data-aos="fade-right" data-aos-duration="1500" class="workAppsTitle">
                            Kanban-board
                        </div>
                        <div data-aos="fade-right" data-aos-duration="1500" id="workAppsDescrip"><br>
                            <span id="trans17">
                                Team Table is a tool used to organize and improve the efficiency of your work, similar
                                to a Kanban Board.
                            </span>
                        </div>
                        <div data-aos="fade-right" data-aos-duration="1500" class="workAppsSkills">
                            HTML | CSS |
                            JavaScript
                        </div>
                    </div>
                </div>
                <a class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_teamtable.jpg" data-aos="flip-up"
                        data-aos-duration="1500" alt="Team Table Cover Ownmade">
                </a>
                <div class="hoverTextPosition4">
                    <div class="workAppsHoverBtnContainer">
                        <a href="https://github.com/Yener88/RingOfFire" target="_blank" class="workAppsHoverBtn1">
                            <button>
                                Github
                            </button>
                        </a>
                        <a class="workAppsHoverBtn2" href="https://ring-of-fire-5819b.web.app/" target="_blank">
                            <button>
                                <span id="trans22">
                                    Live test
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="workAppsHoverTextContainer">
                        <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitle">
                            Ring of Fire
                        </div>
                        <div data-aos="fade-left" data-aos-duration="1500" id="workAppsDescrip"><br>
                            <span id="trans18">
                                The popular card game available in an online, desktop format, allowing multiple users to
                                play on
                                various devices simultaneously.
                            </span>
                        </div>
                        <div data-aos="fade-left" data-aos-duration="1500" class="workAppsSkills">
                            Angular |
                            Typescript |
                            Firebase
                        </div>
                    </div>
                </div>
                <a class="workAppStyleAhref">
                    <img class="workAppsStyle marginExtra" src="assets/img/app_ringoffire.jpg" data-aos="flip-down"
                        data-aos-duration="1500" alt="Ring of Fire Cover Ownmade">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="BackgroundContainer">
    <div class="blurFive"> <img src="assets/img/blur5.png"></div>
    <div class="blurSix"> <img src="assets/img/blur6.png"></div>
    <!-- <div class="blurSeven"> <img src="assets/img/blur7.png"></div> -->
</div>