.thirdSection {
    height: 880px;
    background: linear-gradient(to bottom, hsla(170, 97%, 58%, 0.25) 0%, hsla(346, 95%, 57%, 0.15) 100%),
        linear-gradient(to bottom, #8b8b8b 0%, #8b8b8b 100%);
    color: white;
    display: flex;
    justify-content: center;
    @media (max-width: 1110px) {
        height: 1540px;
    }
}

.thirdSectionContent {
    max-width: 1100px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1110px) {
        overflow: hidden;
    }

    h1 {
        cursor: default;
    }
}

.workApps {
    padding: 50px;

    a {
        display: inline-block;
        cursor: pointer;
    }
}

.borderAfter {
    border: 1.5px solid #fa2759;
}

.workAppStyleAhref {
    img {
        margin: 20px;
        width: 300px;
        height: 300px;
        @media (max-width: 1110px) {
            width: 280px;
        }
    }
}

.workAppsStyle {
    width: 300px;
    height: 300px;
    object-fit: cover;
    opacity: 1;
    cursor: pointer;
    transition: 225ms ease-in-out;
    z-index: 1;
    border-radius: 5px;
    @media (max-width: 1110px) {
        opacity: 1;
        &:hover {
            opacity: 1 !important;
            transform: none !important;
            transition: none !important;
        }
    }
    &:hover {
        opacity: 0.03;
        transform: scale(1.1);
        transition: 225ms ease-in-out;
    }
}

.mobileMode {
    @media (max-width: 1110px) {
        display: flex;
        flex-direction: column;
    }
}

.workAppsTitle1 {
    color: white;
    position: absolute;
    top: 25px;
    left: 95px;
    font-size: 24px;
    @media (max-width: 1110px) {
        z-index: 1;
        font-size: 30px;
        left: 20px;
        top: 20px;
        background: #00000050;
        width: 280px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        pointer-events: none;
    }
}

.workAppsTitle2 {
    color: white;
    position: absolute;
    top: 25px;
    left: 440px;
    font-size: 24px;
    @media (max-width: 1110px) {
        top: 364px;
        left: 20px;
        z-index: 1;
        font-size: 30px;
        background: #00000050;
        width: 280px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        pointer-events: none;
    }
}

.workAppsTitle3 {
    color: white;
    position: absolute;
    top: 20px;
    left: 90px;
    font-size: 24px;
    @media (max-width: 1110px) {
        z-index: 1;
        font-size: 30px;
        left: 20px;
        top: 20px;
        background: #00000050;
        width: 280px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        pointer-events: none;
    }
}

.workAppsTitle4 {
    color: white;
    position: absolute;
    top: 25px;
    left: 445px;
    font-size: 24px;
    @media (max-width: 1110px) {
        top: 364px;
        left: 20px;
        z-index: 1;
        font-size: 30px;
        background: #00000050;
        width: 280px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        pointer-events: none;
    }
}

.workAppsTitleJS1 {
    color: white;
    position: absolute;
    top: 60px;
    left: 55px;
    @media (max-width: 1110px) {
        z-index: 1;
        font-size: 16px;
        left: 20px;
        top: 56px;
        background: rgba(0, 0, 0, 0.1921568627);
        width: 260px;
        text-align: center;
        pointer-events: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.workAppsTitleJS2 {
    color: white;
    position: absolute;
    top: 60px;
    left: 77px;
    @media (max-width: 1110px) {
        width: 260px;
        top: 56px;
        left: 20px;
        font-size: 18px;
        background: #00000050;
        text-align: center;
        z-index: 1;
        pointer-events: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.workAppsTitleJS3 {
    color: white;
    position: absolute;
    top: 60px;
    left: 400px;
    @media (max-width: 1110px) {
        top: 400px;
        left: 20px;
        z-index: 1;
        font-size: 16px;
        background: #00000050;
        width: 260px;
        text-align: center;
        pointer-events: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.workAppsTitleAng1 {
    color: white;
    position: absolute;
    top: 60px;
    left: 398px;
    @media (max-width: 1110px) {
        top: 400px;
        left: 20px;
        z-index: 1;
        font-size: 16px;
        background: #00000050;
        width: 260px;
        text-align: center;
        pointer-events: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.apkDownloadButton {
    color: white;
    position: absolute;
    top: 292px;
    left: 376px;
    cursor: pointer !important;
    transition: 225ms ease-in-out;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    @media (max-width: 1110px) {
        top: 636px;
        left: 20px;
        text-align: center;
        font-weight: bold;
        z-index: 2;
        width: 270px;
        height: 23px;
        padding-top: 2px;
        border: 2px solid #fa2759;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        &:hover {
            color: #2dfcd8;
            transition: none !important;
            transform: none !important;
        }
    }
    &:hover {
        color: #2dfcd8;
        transition: 225ms ease-in-out;
        transform: scale(1.1);
    }
}

#workAppsDescrip1 {
    color: white;
    position: absolute;
    top: 100px;
    left: 41px;
    width: 250px;
    text-align: center;
    @media (max-width: 1110px) {
        top: 76px;
        left: 20px;
        z-index: 1;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.1921568627);
        width: 240px;
        height: 244px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        pointer-events: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}
#workAppsDescrip2 {
    color: white;
    position: absolute;
    top: 100px;
    left: 383px;
    width: 250px;
    text-align: center;
    @media (max-width: 1110px) {
        top: 420px;
        left: 20px;
        z-index: 1;
        font-size: 20px;
        background: #00000050;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 240px;
        height: 245px;
        pointer-events: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}
#workAppsDescrip3 {
    color: white;
    position: absolute;
    top: 100px;
    left: 45px;
    width: 250px;
    text-align: center;
    @media (max-width: 1110px) {
        top: 77px;
        left: 20px;
        z-index: 1;
        font-size: 20px;
        background: #00000050;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 240px;
        height: 243px;
        pointer-events: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

h1 {
    @media (max-width: 1110px) {
        font-size: -webkit-xxx-large;
    }
}

#workAppsDescrip4 {
    color: white;
    position: absolute;
    top: 100px;
    left: 389px;
    width: 250px;
    text-align: center;
    @media (max-width: 1110px) {
        top: 420px;
        left: 20px;
        z-index: 1;
        font-size: 20px;
        background: #00000050;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 240px;
        height: 244px;
        pointer-events: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}
