<div class="thirdSection" id="projects">
    <div class="thirdSectionContent">
        <h1 id="trans6">Projects</h1>
        <div class="workApps">
            <div data-aos="zoom-out-left" class="mobileMode">
                <div data-aos="fade-right" data-aos-duration="1500" class="workAppsTitle1">Pokedex-App</div>
                <div data-aos="fade-right" data-aos-duration="1500" class="workAppsTitleJS1">HTML | CSS | JavaScript | API</div>
                <div data-aos="fade-right" data-aos-duration="1500" id="workAppsDescrip1"><br>
                    Index of Pokemon, API based Pokedex! With extensive details and advanced functions such as
                    finding, favorite and managing all Pokemon in the search.
                </div>
                <a href="https://yener88.github.io/Pokedex/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_pokedex.jpg"
                        alt="app_pokedex projekt bild" data-aos="flip-up" data-aos-duration="1500" alt="Pokedex Cover Ownmade">
                </a>

                <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitle2">El Pollo Loco</div>
                <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitleJS3">HTML | CSS | OOP JavaScript</div>
                <div data-aos="fade-left" data-aos-duration="1500" id="workAppsDescrip2"><br>
                    El Pollo Loco is a humorous jump-and-run game created using object-oriented JavaScript and serving
                    as an introduction to Angular development.
                </div>
                <a href="https://yener88.github.io/El-Pollo-Loco/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_polloloco.jpg" data-aos="flip-down"
                        data-aos-duration="1500" alt="El Pollo Loco Cover Ownmade">
                </a>
                <a data-aos="fade-left" data-aos-duration="1500" class="apkDownloadButton"
                    href="https://yener-bas.developerakademie.net/ElPolloLocoAPK/El%20Pollo%20Loco.apk" target="_blank"
                    id="trans7">Download the mobile version(APK)
                </a>
            </div>
            <div data-aos="zoom-out-left" class="mobileMode">
                <div data-aos="fade-right" data-aos-duration="1500" class="workAppsTitle3">Kanban-board</div>
                <div data-aos="fade-right" data-aos-duration="1500" class="workAppsTitleJS2">HTML | CSS | JavaScript</div>
                <div data-aos="fade-right" data-aos-duration="1500" id="workAppsDescrip3"><br>
                    Team Table is a tool used to organize and improve the efficiency of your work, similar to a Kanban
                    Board.
                </div>
                <a href="https://yener88.github.io/Team-Table/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_teamtable.jpg" data-aos="flip-up"
                        data-aos-duration="1500" alt="Team Table Cover Ownmade">
                </a>

                <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitle4">Ring of Fire</div>
                <div data-aos="fade-left" data-aos-duration="1500" class="workAppsTitleAng1">Angular | Typescript | Firebase</div>
                <div data-aos="fade-left" data-aos-duration="1500" id="workAppsDescrip4"><br>
                    The popular card game available in an online, desktop format, allowing multiple users to play on
                    various devices simultaneously.
                </div>
                <a href="https://ring-of-fire-5819b.web.app/" target="_blank" class="workAppStyleAhref">
                    <img class="workAppsStyle" src="assets/img/app_ringoffire.jpg" data-aos="flip-down"
                        data-aos-duration="1500" alt="Ring of Fire Cover Ownmade">
                </a>
            </div>
        </div>
    </div>
</div>