.thirdSection {
    height: 850px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    @media (max-width: 1110px) {
        height: 950px;
    }
}

.thirdSectionContent {
    max-width: 1100px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1110px) {
        width: 100%;
        overflow: hidden;
    }
}

.workApps {
    margin: 20px;
    a {
    display: inline-block;
    }
}

.borderAngular {
    border: 1.5px solid #fa2759;
}

.borderJavaScript {
    border: 1.5px solid #2dfcd8;
}

.workAppsStyle {
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    opacity: 0.7;
    cursor: pointer;

    @media (max-width: 1110px) {
        width: 150px;
        height: 150px;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.1);
        transition: 225ms ease-in-out;
    }
}

.mobileMode {
    @media (max-width: 1110px) {
        display: flex;
        flex-direction: column;
    }
}

.workAppsTitle1 {
    color: white;
    position: absolute;
    top: 20px;
    left: 120px;
    @media (max-width: 1110px) {
        left: 50px;
    }
}

.workAppsTitle2 {
    color: white;
    position: absolute;
    top: 20px;
    left: 460px;
    @media (max-width: 1110px) {
        top: 217px;
        left: 51px;
    }
}

.workAppsTitle3 {
    color: white;
    position: absolute;
    top: 20px;
    left: 120px;
    @media (max-width: 1110px) {
        top: 20px;
        left: 45px;
    }
}

.workAppsTitle4 {
    color: white;
    position: absolute;
    top: 20px;
    left: 460px;
    @media (max-width: 1110px) {
        top: 215px;
        left: 55px;
    }
}

.workAppsTitleJS1 {
    color: white;
    position: absolute;
    top: 300px;
    left: 240px;
    @media (max-width: 1110px) {
        top: 150px;
        left: 90px;
    }
}

.workAppsTitleJS2 {
    color: white;
    position: absolute;
    top: 300px;
    left: 240px;
    @media (max-width: 1110px) {
        top: 151px;
        left: 91px;
    }
}

.workAppsTitleJS3 {
    color: white;
    position: absolute;
    top: 300px;
    left: 584px;
    @media (max-width: 1110px) {
        top: 347px;
        left: 89px;
    }
}

.workAppsTitleAng1 {
    color: white;
    position: absolute;
    top: 300px;
    left: 603px;
    @media (max-width: 1110px) {
        top: 348px;
        left: 112px;
    }
}
