<div class="fifthSection" id="contact">
    <div class="fifthSectionContent" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
        <br><br><br><br>
        <h1 id="trans8">Contact me.</h1>
        <form action="https://yener-bas.developerakademie.net/portfolio/send_mail.php" method="POST">

            <span id="trans9" class="titleDescrip">Get in touch via the form below, or by emailing <a
                    href="mailto: yener.bas@outlook.de">yener.bas@outlook.de</a></span> <br><br><br>

            <span class="title" id="trans10">Name</span><br>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            <br><br>
            <span class="title" id="trans11">E-mail address</span><br>
            <input id="email" name="email" type="email" placeholder="Enter your E-mail address" required>
            <br><br>
            <span class="title" id="trans12">Message</span><br>
            <textarea name="message" id="message" minlength="20" maxlength="2000" placeholder="Enter your message"
                required></textarea>
            <br><br>
            <button class="submitbtn" type="submit" required>
                <span id="trans13">
                    Send
                </span></button>

        </form>
    </div>
</div>