.fifthSection {
    height: 920px;
    background-color: #141d2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media (max-width: 1130px) {
    }
}

.fifthSectionContent {
    z-index: 1;
    max-width: 1100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    @media (max-width: 1130px) {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        span {
            align-self: flex-start;
            margin-left: 18px;
        }
    }

    h1 {
        cursor: default;
        margin-top: -30px;
        @media (max-width: 1130px) {
            margin-top: -60px;
        }
    }

    #trans13 {
        cursor: pointer !important;
    }

    input {
        background-color: #141d2f;
        outline: none;
        height: 30px;
        width: 97%;
        margin-top: 20px;
        color: white;
        padding-left: 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.2px;
        border: 1px solid #e86f00;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        @media (max-width: 1130px) {
            width: 85%;
            margin-top: 0px;
        }
        &:required:invalid:focus {
            border: 1px solid #e61c40;
        }
        &:required:valid {
            border: 1px solid green;
        }
    }

    textarea {
        background-color: #141d2f;
        outline: none;
        height: 200px;
        width: 97%;
        margin-top: 18px;
        padding-left: 20px;
        padding-top: 10px;
        color: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.2px;
        resize: none;
        border: 1px solid #e86f00;
        border-radius: 10px;
        @media (max-width: 1130px) {
            width: 85%;
            margin-top: 0px;
        }
        &:required:invalid:focus {
            border: 1px solid #e61c40;
        }
        &:required:valid {
            border: 1px solid green;
        }
    }

    button {
        background: #e86f00;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        border: none;
        cursor: pointer;
        color: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 19.2px;
        margin-top: 14px;
        margin-left: 163px;
        @media (max-width: 1130px) {
        }
        &:hover {
            opacity: 0.8;
            transition: 225ms ease-in-out;
        }
    }
}

h1 {
    font-size: 64px;
    color: #2dfcd8;
    @media (max-width: 1130px) {
        font-size: 34px;
        margin-left: 20px;
        margin-top: -65px;
    }
}

.titleDescrip {
    color: #ffffff;
    @media (max-width: 1130px) {
        margin-left: 20px;
        margin-right: 8px;
    }

    a {
        color: #2dfcd8;
        text-decoration: none;
    }
}

.title {
    color: #f2f2f2;
}

.borderLinkContainer {
    position: absolute;
    bottom: -3800px;
    left: 0;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
    @media (max-width: 1130px) {
        bottom: -3713px;
    }
}

.borderLinkContainerBorder {
    border: 2px solid #d61ce6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60px;
    @media (max-width: 1130px) {
        width: 40px;
    }
}

.borderLinkContainer2 {
    position: absolute;
    bottom: -3590px;
    right: 0;
    display: flex;
    align-items: center;
    @media (max-width: 1130px) {
        bottom: -3645px;
    }
}

.borderLinkContainerBorder2 {
    border: 2px solid #e86f00;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 390px;
    @media (max-width: 1130px) {
        width: 60px;
    }
}
.fifthSectionDescripForm {
    width: 50%;
    @media (max-width: 1130px) {
        width: 100%;
    }
}

.fifthSectionDescripTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: white;
    padding-left: 50px;
    cursor: default;
    @media (max-width: 1130px) {
        font-size: 23px;
    }
}

.fifthSectionDescripText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    position: absolute;
    bottom: -3910px;
    left: 115px;
    width: 39%;
    color: white;
    max-width: 463px;
    width: 100%;
    cursor: default;
    @media (max-width: 1130px) {
        bottom: -3785px;
    }
}

.ahrefStyle {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.fifthSectionDescrip {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: flex-end;
}
.fifthSectionTitle {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
    margin-right: 50px;
    color: white;
    @media (max-width: 1130px) {
        font-size: 45px;
    }
}
