.fifthSection {
    height: 1200px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.fifthSectionContent {
    max-width: 800px;
    width: 100vw;
}
