<div class="fifthSection" id="contact">
    <div class="fifthSectionContent">
        <br><br><br><br>
        <h1>Contact me.</h1>
        <span class="titleDescrip">Get in touch via the form below, or by emailing <a
                href="#">hello@carina.com</a></span> <br><br><br>

        <span class="title">Name</span><br>
        <input type="text" placeholder="Enter your name">

        <span class="title">E-mail address</span><br>
        <input type="email" placeholder="Enter your E-mail address">

        <span class="title">Message</span><br>
        <textarea name="" id="" cols="30" rows="10"  placeholder="Enter your message"></textarea>

        <button>Send</button>
    </div>
</div>